* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%; /* para ocupar 100% da largura do documento */
    min-height: 100vh; /* para ocupar 100% da tela */
    background-image: linear-gradient(to right, #41b7d0, #57beda, #6bc5e4, #7dcced, #8fd3f5, #8dcef1, #8ac8ed, #88c3e9, #72b1d9, #5b9fc9, #438db9, #257caa);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f8f9f8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #dbdbdb;
    padding: 20px;
}

.form {
    padding: 20px;

}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 2px;
    visibility: hidden;
}

.form button {
    background: linear-gradient(270deg, #257caa, #e44e8a);
    background-size: 600% 600%;
    border: 2px solid;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    padding: 20px;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

.messageSuccess {
    background-color: #2ecc71;
    padding: 10px;
    color: #fff;
    display: none;
}
